<html> 
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <meta charset="utf-8">
    
    <body>
        <div id="loginForm" >
            <p style="text-align: center;">
                <strong>  My login form </strong>
            </p>
            
            <form action="" method="POST" >
                <input type="text" name="username" >
                <input type="password" name="password" >
                <input class="loginClass" type="submit" value="Login">
            </form>
                {% if error %}
                    <p class="errorMessage">
                        <b> There was an error : </b> {{error}}
                    </p>
                {% endif %}          
        </div>
    </body>
</html>
